; DSV Local development file
core = "7.x"
api = "2"
; include the d.o. profile base
includes[] = "https://raw.github.com/omastercomau/dsv/master/drupal-org.make"

projects[drupal][version] = "7"

; Libraries

; setup install profile
libraries[dsv][directory_name] = "dsv"
libraries[dsv][type] = "profile"
libraries[dsv][destination] = "../../profiles"
libraries[dsv][download][type] = "git"
libraries[dsv][download][url] = "https://github.com/omastercomau/dsv.git"
